body {
background:url("bg.jpg");
background-size:100% 140%;
background-attachment:fixed;
color:black;
font-family:'Quicksand', sans-serif;
font-size:12pt;
text-align:center;
}

a {
color:navy;
font-style:italic;
font-weight:bold;
text-decoration:none;
}

a:hover { text-decoration:underline; }

a#GHForkLink {
position:absolute;
right:0;
top:0;
}

img.screenshot { border:6px #009 solid; }

h1, h2, h3, h4, h5, h6 { margin:5px 0; }
h1 { font-size:300%; font-style:italic; }
h1 a { color:black; }

h2 { font-size:120%; font-style:italic; }
h3 { font-style:italic; }

ul {
list-style:none;
margin:0;
padding:0;
}

ul.no-bullets {
display:block;
float:right;
list-style:none;
margin:-10px 40px 0 0; padding:0;
width: 200px; height: 200px;
}

ul.no-bullets li {
display:block;
list-style:none;
background:white;
margin:0; padding:0;
width:200px; height:200px;
text-align:right;
}

div#who, div#work, div#how {
margin-bottom:10px;
display:block;
padding:16px;
}

div#work h3 {
font-size:400%;
}

div#work h4 {
font-size:200%;
font-weight:normal;
}

div#how {
float:right;
text-align:center;
margin:10px 0;
}

div#how img {
background-color:white;
width:100px;
height:100px;
}
